*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main--index{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.role{
    padding: 100px;
    box-shadow: 0 0 16px 0.1px rgb(0,0,0,0.2);
    display: inline-block;
    border-radius: 10px;
}

.label--role{
    font-size: 30px;
    font-family: sans-serif;
}

select{
    padding: 10px 25px;
}

button{
    padding: 10px 25px;
    background-color: goldenrod;
    border: none;
}

button:hover{
    background-color: rgba(218, 165, 32, 0.474);
    border: none;
}