*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{

    background-image: url(./images/travel.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
p{
    font-size: medium;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.content{
    display: flex;
    text-align: center;
    justify-content: center;

}
.content_left
{
    height: 100vh;
   
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}
.content_right{
    height: 100vh;
    background-color:transparent;
    width: 55vw; 
}
.contain{
    
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container1 {
    
    height: 10%;
    display: flex;
    flex-direction: column;
    
    
}
.input{
  
    display: flex;
    margin-left: 28.69%;
}
.input input{
    width: 60%;
    height: 150%;
    border-radius: 5px;
}
.sep{
    margin-top: 20px;
}
.sep input,button{
    height: 150%;
    border-radius: 5px;
   
}
.sep button{
    background-color: rgb(236, 163, 28);
}